.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 2px solid var(--borderColor);
  position: sticky;
  top: 0;
  background-color: white;
}
.inline {
  display: inline;
  list-style-type: none;
  padding: 0.2rem;
  margin: 0.2rem;
  cursor: pointer;
}
.inline:hover {
  color: #2168ebe5;
}
.heading {
  cursor: pointer;
  color: #181727;
  font-size: 1rem;
  font-weight: 800;
}
.btn {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  background-color: transparent;
  border: none;
}

.btn-primary {
  background-color: blue;
  color: white;
  border-radius: 1rem;
}
.mobile-navigation {
  display: none;
}
.icon-nav {
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.3rem;
  border-radius: 1rem;
  color: #181727;
  background-color: #7674e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown-container {
  top: 3.2rem;
  position: fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background: linear-gradient(rgba(54, 54, 54, 0.815), rgba(56, 55, 55, 0.822));
}
.dropdown {
  position: absolute;
  display: inline-block;
  background-color: #5653fa;
  background-color: #181727;
  color: white;
  margin: 0 auto;
  width: 80%;
  height: 22rem;
  top: 4rem;
  padding: 0.5rem 0rem;
  z-index: 100;
  border-radius: 1rem;
}
.dropdown ul {
  padding-left: 0;
}
.dropdown li {
  list-style-type: none;
  padding: 1rem;
  text-align: center;
  margin: 0 auto;
}
.dropdown li:hover {
  color: #5653fa;
}
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
  .actions {
    display: none;
  }
  .mobile-navigation {
    display: block;
  }
}
