.brand-img {
  max-width: 6rem;
  margin: 0 1rem;
}
.cust-heading {
  font-size: x-small;
  font-weight: bold;
}
.brands {
  min-width: 10rem;
}

@media screen and (max-width: 767px) {
  .brands {
    text-align: center;
  }
  .cust-heading {
    text-align: center;
  }
}
